.root {
	 -fx-background-color: rgba(0,0,0,0);
     -fx-background-image: url("./imgs/left-x.png"), url("./imgs/right-x.png");
     -fx-background-repeat: no-repeat, no-repeat;
     -fx-background-position: 0%, 100%;
}

.button{
	-fx-background-color:
        linear-gradient(#f0ff35, #a9ff00),
        radial-gradient(center 50% -40%, radius 200%, #b8ee36 45%, #80c800 50%);
    -fx-background-radius: 6, 5;
    -fx-background-insets: 0, 1;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.4) , 5, 0.0 , 0 , 1 );
    -fx-text-fill: #395306;	
    
    -fx-background-position: center center;
	-fx-background-repeat: stretch;
}

.bar{
	-fx-background-color: rgba(0,0,0,0);
    -fx-background-image: url("./imgs/repeat-x.png");
    -fx-background-repeat: repeat-x;
    -fx-background-position: 0px -4px;
}
